{% extends '404.twig' %}
{% block title %}
    Welcome!
{% endblock %}
{% block content %}
    <div class="container">
        <div class="content">
            <h1>Welcome!</h1>
            <p>If you see this message, that means you've succeed installing the application.</p>
        </div>
    </div>
{% endblock %}